<section class="about-us" id="About">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="about-us__logo-block">
          <div class="logo">
            <a href="#"> Cleaning
              <strong>
                клининговая компания
              </strong>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="info about-us__info">
          <h4>
            Немного о нас
          </h4>
          <p>
            Клининговая компания в Москве, сотрудники которой
            любят и умеют делать то, что большинству из нас
            совершенно не по душе, - убирать. Мы избавляем
            клиентов от необходимости тратить долгожданные
            выходные на скучное и трудное дело - наведение порядка.
          </p>
          <p>
            Заказав уборку в клининговой компании, вы сможете
            с интересом провести досуг или просто отдохнуть.
            А все заботы мы с удовольствием возьмем на себя
          </p>
          <div class="button button_long">
            <a class="popup-modal" href="#modal-form">Запрос коммерческого предложения</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
