<section class="clients" id="Partners">
  <div class="container">
    <div class="row">
      <h5>
        Клиенты нашей компании
      </h5>
      <div class="clients__main">
        <div class="clients__block">
          <img src="/img/moek-client.png" alt="">
        </div>
        <div class="clients__block">
          <img src="/img/214.png" alt="">
        </div>
        <div class="clients__block">
          <img src="/img/cl8.png" alt="">
        </div>
        <div class="clients__block">
          <img src="/img/cl11.png" alt="">
        </div>
        <div class="clients__block">
          <img src="/img/cl6.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
