<section class="first-screen">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <ul class="first-screen__nav">

          <li>Клининг</li>
          <li>Эксплуатация</li>
          <li>Пожарная безопасность</li>
          <li>Энергосети</li>
          <li>Водоснабжение</li>
          <li>Водоснабжение</li>
          <li>Водоснабжение</li>

        </ul>
      </div>
      <div class="col-12 col-lg-12 col-xl-9">
        <ul class="first-screen__elem">
          <li>
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-xl-12">
                  <h1>
                    Профессиональный клининг и техническая эксплуатация
                  </h1>
                </div>
                <div class="col-xl-12">
                  <h3>
                    Выполняем все виды профессиональной уборки жилых
                    и коммерческих помещений, а также уличных территорий
                  </h3>
                </div>
                <div class="col-xl-12">
                  <div class="first-screen__buttons">
                    <a href="/clining.html">Подробнее</a>
                    <a class="popup-modal" href="#modal-form">Заказать услугу</a>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-xl-12">
                  <h2>
                    Профессиональная эксплуатация
                  </h2>
                </div>
                <div class="col-xl-12">
                  <h3>
                    Выполняем все виды профессиональной уборки жилых
                    и коммерческих помещений, а также уличных территорий
                  </h3>
                </div>
                <div class="col-xl-12">
                  <div class="first-screen__buttons">
                    <a href="#">Подробнее</a>
                    <a class="popup-modal" href="#modal-form">Заказать услугу</a>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-xl-12">
                  <h2>
                    Профессиональная пожарная безопасность
                  </h2>
                </div>
                <div class="col-xl-12">
                  <h3>
                    Выполняем все виды профессиональной уборки жилых
                    и коммерческих помещений, а также уличных территорий
                  </h3>
                </div>
                <div class="col-xl-12">
                  <div class="first-screen__buttons">
                    <a href="#">Подробнее</a>
                    <a class="popup-modal" href="#modal-form">Заказать услугу</a>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-xl-12">
                  <h2>
                    Профессиональные єнерогосети
                  </h2>
                </div>
                <div class="col-xl-12">
                  <h3>
                    Выполняем все виды профессиональной уборки жилых
                    и коммерческих помещений, а также уличных территорий
                  </h3>
                </div>
                <div class="col-xl-12">
                  <div class="first-screen__buttons">
                    <a href="#">Подробнее</a>
                    <a class="popup-modal" href="#modal-form">Заказать услугу</a>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-xl-12">
                  <h2>
                    Профессиональное водоснабжение
                  </h2>
                </div>
                <div class="col-xl-12">
                  <h3>
                    Выполняем все виды профессиональной уборки жилых
                    и коммерческих помещений, а также уличных территорий
                  </h3>
                </div>
                <div class="col-xl-12">
                  <div class="first-screen__buttons">
                    <a href="#">Подробнее</a>
                    <a class="popup-modal" href="#modal-form">Заказать услугу</a>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>


</section>

