<section class="footer" id="Contacts">
  <div id="map"></div>

  <div class="container">
    <div class="row">
      <div class="footer__contacts">
        <h6>
          Наши контакты
        </h6>
        <p>
          <a href="tel:+84951342249">
            8 (495) 134 22 49
          </a>
        </p>
        <p>
          <a href="#">
          Москва, ул. Новокосинская,
          д. 20, корп. 2, пом. 1Б
          </a>
        </p>
        <p>
          <a href="mailto:info@services.ru">
            info@services.ru
          </a>
        </p>
      </div>
    </div>
  </div>
  <footer class="footer__nav">
    <div class="container">
      <div class="row">
        <div class="footer__nav_wrapper">
          <div class="logo logo_footer">
            <a href="#"> Cleaning
              <strong>
                клининговая компания
              </strong>
            </a>
          </div>
          <div class="nav nav_footer">
            <ul>
              <li>
                <a href="#Home">
                  Главная
                </a>
              </li>
              <li>
                <a href="#Advantage">
                  Преимущества
                </a>
              </li>
              <li>
                <a href="#Services">
                  Услуги
                </a>
              </li>
              <li>
                <a href="#About">
                  О  нас
                </a>
              </li>
              <li>
                <a href="#Objects">
                  Обьекты
                </a>
              </li>
              <li>
                <a href="#Partners">
                  Партнеры
                </a>
              </li>
              <li>
                <a href="#Reviews">
                  Отзывы
                </a>
              </li>
              <li>
                <a href="#Contacts">
                  Контакты
                </a>
              </li>
            </ul>
          </div>
          <div class="work-schedule">
            График работы офиса
            <p>
              Пн-Пт с 10:00 до 19:00
              <br>
              Сб-Вс с 10:00 до 17:00
            </p>
          </div>
          <div class="button button_footer">
            <a class="popup-modal" href="#modal-form">Оставить заявку</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</section>

