<div class="info-line" id="Home">
  <div class="container">
    <div class="row">
      <div class="info-line__wrapper">
        <div class="logo">
          <a href="#"> Cleaning
          <strong>
            клининговая компания
          </strong>
          </a>
        </div>
        <div class="info-line__work-schedule">
          <img src="/img/clock.svg" alt="">
          График работы офиса
          <p>
            Пн-Пт с 10:00 до 19:00
            <br>
            Сб-Вс с 10:00 до 17:00
          </p>
        </div>
        <div class="info-line__address">
          <img src="/img/placeholder-filled-point.svg" alt="">
          Адрес
          <p>
            Москва, ул. Новокосинская,
            <br>
            д. 20, корп. 2, пом. 1Б
          </p>
        </div>
        <div class="info-line__tel">
          <img src="/img/call-answer.svg" alt="">
          Телефон
          <p>8 (495) 134 22 49</p>
        </div>
        <div class="button">
          <a class="popup-modal" href="#modal-form">Оставить заявку</a>
        </div>
      </div>
    </div>
  </div>
</div>
