<header class="header">
  <div class="container">
    <div class="row">
      <nav class="nav">
        <ul>
          <li>
            <a href="#Home">
              Главная
            </a>
          </li>
          <li>
            <a href="#Advantage">
              Преимущества
            </a>
          </li>
          <li>
            <a href="#Services">
              Услуги
            </a>
          </li>
          <li>
            <a href="#About">
              О  нас
            </a>
          </li>
          <li>
            <a href="#Objects">
              Обьекты
            </a>
          </li>
          <li>
            <a href="#Partners">
              Партнеры
            </a>
          </li>
          <li>
            <a href="#Reviews">
              Отзывы
            </a>
          </li>
          <li>
            <a href="#Contacts">
              Контакты
            </a>
          </li>
        </ul>

      </nav>

    </div>

  </div>
</header>
<div class="menu__btn">
  <div class="bar"></div>
</div>
