<section class="our-services" id="Services">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="info">
          <h4>
            Наши услуги
          </h4>
          <p>
            Заказывая услуги в компании «Клининг»,
            Вы оцените уровень профессионализма и опыт,
            с которым мы подходим к данной услуге. Мы
            поможем Вам разработать стандарты чистоты,
            которые будут полностью удовлетворять все
            Ваши запросы и идеально соответствовать статусу здания.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xl-6">
       <div class="our-services__tile">
        <div class="row d-flex justify-content-center">

          <div class="col-12">
            <div class="tile__block tile__block_long tile__block_one">
              <h5>
                Клининговые услуги
              </h5>
              <ul>
                <li>
                  Уборка внутренних помещений
                </li>
                <li>Уборка прилегающей территории
                </li>
                <li>
                  Мытье окон и фасадов методом
                  промышленного альпинизма
                </li>
                <li>
                  Очистка кровли и сосулек
                  в зимний период
                </li>
              </ul>
              <div class="btn">
                <a  class="popup-modal__servises content_data" 
                    href="#modal-servises"
                    data-content-link="/clining.html"
                    data-content-title="Заголовок 1"
                    data-content-sub-title="подзаголовок для текста"
                    data-content-description="Наша клининговая компания предлагает услуги по уборка
                        внутренних помещений, уборке прилегающей территории,
                        мытью окон и фасадов методом промыш- ленного альпинизма,
                        очистке кровли от снега и сосулек в зимний период,
                        а также вывоза снега и мусора"

                >Подробнее</a>
              </div>
            </div>
          </div>
         <div class="col-xl-6 col-lg-12">
           <div class="tile__block tile__block_short tile__block_two">
             <h5>
               Противопожарные
               системы
             </h5>
             <ul>
               <li>
                 Пожарная сигнализация
               </li>
               <li>
                 Системы оповещения
               </li>
               <li>
                 Противодымная вентиляция
               </li>
               <li>
                 Автоматическое пожаротушение
               </li>
             </ul>
             <div class="btn">
               <a  class="popup-modal__servises content_data"
                   href="#modal-servises"
                   data-content-title="Заголовок 2"
                   data-content-sub-title="подзаголовок для текста"
                   data-content-description="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam vero."
                   data-content-link="#"
               >Подробнее</a>
             </div>
           </div>
         </div>
         <div class="col-xl-6 col-lg-12">
           <div class="tile__block tile__block_short tile__block_three">
             <h5>
               Системы
               теплоснабжения
             </h5>
             <div class="btn">
                <a  class="popup-modal__servises content_data" 
                    href="#modal-servises"
                    data-content-title="Заголовок 3"
                    data-content-sub-title="подзаголовок для текста"
                    data-content-description="Consequatur rerum amet fuga expedita sunt et tempora saepe? Iusto nihil explicabo perferendis quos provident delectus ducimus necessitatibus reiciendis "
                    data-content-link="#"
                >Подробнее</a>
             </div>
           </div>
         </div>
       </div>
       </div>
      </div>
      <div class="col-xl-6">
        <div class="our-services__tile">
          <div class="row">
            <div class="col-xl-6 col-lg-12">
              <div class="tile__block tile__block_short tile__block_four">
                <h5>
                Системы
                безопасности
              </h5>
                <ul>
                  <li>
                    Системы контроля доступа
                  </li>
                  <li>
                    Системы видеонаблюдения
                  </li>
                  <li>
                    Охранная сигнализация
                  </li>
                </ul>
                <div class="btn">
                  <a  class="popup-modal__servises content_data"
                      href="#modal-servises"
                      data-content-title="Заголовок 4"
                      data-content-sub-title="подзаголовок для текста"
                      data-content-description="Tenetur quod quidem in voluptatem corporis dolorum dicta sit pariatur porro quaerat autem ipsam odit quam beatae tempora quibusdam illum! Modi velit odio nam nulla unde amet odit pariatur at!"
                      data-content-link="#"
                  >Подробнее</a>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-12">
              <div class="tile__block tile__block_short tile__block_five">
                <h5>
                  Эксплуатация
                  и обслуживание
                  объектов
                  инженерной
                  инфраструктуры
                </h5>
                <div class="btn">
                  <a  class="popup-modal__servises content_data"
                      href="#modal-servises"

                      data-content-title="Заголовок 5"
                      data-content-sub-title="подзаголовок для текста"
                      data-content-description="dolor sit amet, consectetur adipisicing elit. Qui dicta minus molestiae vel beatae natus eveniet ratione temporibus aperiam harum ali"
                      data-content-link="#"
                  >Подробнее</a>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="tile__block tile__block_long tile__block_six">
                <h5>
                Системы
                электроснабжения
              </h5>
                <ul>
                  <li>
                    Электросиловые сети
                  <li>
                    Электроосвещение
                  </li>
                </ul>
                <div class="btn">
                  <a  class="popup-modal__servises content_data"
                      href="#modal-servises"
                      data-content-title="Заголовок 6"
                      data-content-sub-title="подзаголовок для текста"
                      data-content-description="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi non quis exercitationem culpa nesciunt nihil aut nostrum explicabo reprehenderit optio amet ab temporibus asperiores quasi cupiditate. Voluptatum ducimus voluptates voluptas?"
                      data-content-link="#"
                  >Подробнее</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
