<section class="reviews" id="Reviews">
  <div class="container">
      <div class="reviews__block">
        <div class="row">
          <div class="col-8">
              <div class="reviews__slider">
                <div class="img">
                  <a href="#" download="reviews.docx">
                    <img src="../../img/mail-1.png" alt="">
                  </a>
                </div>
                <div class="img">
                  <a href="#" download="reviews.docx">
                    <img src="../../img/mail-2.png" alt="">
                  </a>
                </div>
                <div class="img">
                  <a href="#" download="reviews.docx">
                    <img src="../../img/mail-3.png" alt="">
                  </a>
                </div>
                <div class="img">
                  <a href="#" download="reviews.docx">
                    <img src="../../img/mail-3.png" alt="">
                  </a>
                </div>
              </div>
          </div>
          <div class="col-4 order-1">
            <div class="info info_reviews reviews__title">
              <h4>
                Отзывы клиентов
              </h4>
            </div>
          </div>
        </div>
      </div>

  </div>
</section>
