<section class="second-screen" id="Advantage">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="services">
          <div class="services__block">
            <div class="services__block_left">
              <div class="services__elem">
                <img src="../img/brush.svg" alt="svg">
                <P>
                  Широкий спектр

                </P>
                <P>
                  клининговых работ
                </P>
              </div>
              <div class="services__elem">
                <img src="../img/window.svg" alt="svg">
                <P>
                  Мытье окон и фасадов

                </P>
                <P>
                  методом промышлегого
                  альпинизма
                </P>
              </div>
              <div class="services__elem">
                <img src="../img/recycling-truck.svg" alt="svg">
                <P>
                  Вывоз

                </P>
                <P>
                  снега и мусора
                </P>
              </div>
            </div>
            <div class="services__block_right">
              <div class="services__elem">
                <img src="../img/cleaning-service.svg" alt="svg">
                <P>
                  Предоставление
                </P>
                <P>
                  постоянного обслуживания
                </P>
              </div>
              <div class="services__elem">
                <img src="../img/icicles1.svg" alt="svg">
                <P>
                  Очистка кровли

                </P>
                <P>
                  от снега и сосулек в зимний
                  период
                </P>
              </div>
              <div class="services__elem">
                <img src="../img/guarantee.svg" alt="svg">
                <P>
                  Гарантия
                </P>
                <P>
                  высокого качества
                </P>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="services-text">
          <h3>
            Оказываем услуги
            <br>
            по клинингу и химчистке
          </h3>
          <strong>
            квартир, коттеджей и офисов
          </strong>

          <p>
            Наша клининговая компания предлагает услуги по уборка
            внутренних помещений, уборке прилегающей территории,
            мытью окон и фасадов методом промыш- ленного альпинизма,
            очистке кровли от снега и сосулек в зимний период,
            а также вывоза снега и мусора
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
