<section class="slider-screen" id="Objects">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="info slider-screen__info">
          <h4>
            Наши основные обьекты
          </h4>
        </div>
        <ul class="slider-for my-slider my-slider__block">
          <li>
            <h5>
              Бизнес-Центр класса «А» «Астана»
              (штаб-квартира компании Эн Пи Ви
              Инжиниринг/Npv Engineering)
            </h5>
            <p>
              Комплексная эксплуатация инженерных систем,
              услуги <br>
              по клинингу- здание Бизнес-Центра класса «А»<br>
              «Астана».
              Площадь здания-порядка 4000 м2.

            </p>

            <strong>
              <img src="/img/location.svg" alt="">
              г. Москва, Строченовский пер., 5
            </strong>
          </li>
          <li>
            <h5>
              Бизнес-Центр класса «А» «Москва»
              (штаб-квартира компании Би Би Би
              Билдинг/Npv Engineering)
            </h5>
            <p>
              Комплексная эксплуатация инженерных систем,
              услуги <br>
              по клинингу- здание Бизнес-Центра класса «А»<br>
              «Москва».
              Площадь здания-порядка 10000 м2.

            </p>

            <strong>
              <img src="/img/location.svg" alt="">
              г. Москва, Соборный пер., 15
            </strong>
          </li>
          <li>
            <h5>
              Бизнес-Центр класса «А» «Тест 3»
              (штаб-квартира компании Эн Пи Ви
              Инжиниринг/Npv Engineering)
            </h5>
            <p>
              Комплексная эксплуатация инженерных систем,
              услуги <br>
              по клинингу- здание Бизнес-Центра класса «А»<br>
              «Астана».
              Площадь здания-порядка 4000 м2.
            </p>

            <strong>
              <img src="/img/location.svg" alt="">
              г. Москва, Строченовский пер., 5
            </strong>
          </li>
        </ul>
      </div>

      <div class="col-md-6">
        <ul class="slider-nav my-slider my-slider__section">
          <li>
            <img src="/img/moek.png" alt="">
          </li>
          <li>
            <img src="/img/bc-astana-foto.png" alt="">
          </li>
          <li>
            <img src="/img/sibintek-foto.png" alt="">
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
